div.left#leftcomp
  div.con
    div.bar 
      span 本版推荐 
    ul
      -@reco.each do |p|
        li: a[href="/detail/#{p.id}" target='_blank'] =p.title  
  div.con
    div.bar 
      span 热点文章 
    ul
      -@hots.each do |p|
        li: a[href="/detail/#{p.id}" target='_blank'] =p.title  
div.right#rightcon
  div.con
    div.bar 合作社动态
    div.contant
      ul#list_post_con 
      script#temp_post[type='text/html']
        li
          a.left[href="/detail/@{id}" target='_blank'] @{title}
          span.right @{insert_time}
      div#pagenation
javascript:
  $(function(){
    get_post('DYNAMIC',10);
  });
