div#con1.con 
  img[src='assets/common/lb.jpg']
div#con2.con
  div.bar 
    span 合作动态 
    a[href='/dynamic']: span.more[title='更多']
  ul
    -@list[:DYNAMIC].each do |p| 
      li
        a[href="/detail/#{p.id}" target='_blank'] =p.title
        span.right #{p.insert_time}
div#con3.con
  div.bar 
    span 本地资讯
    a[href='/news']: span.more[title='更多']
  ul
    -@list[:ZIXUN].each do |p| 
      li: a[href="/detail/#{p.id}" target='_blank'] =p.title

div#con4.con
  div.bar 联系方式
  ul#contact
    li.contact1
      span.ico 电话
      span.num 029-6656-4628
    li.contact2
      span.ico 传真
      span.num 029-6656-4628
    li.contact3
      span.ico 邮件
      span.num 1246996371@qq.com
    li.contact4
      span.ico 地址
      span.num 四川雅安市名山区
div#con5.con
  div.bar 
    span 法律法规
    a[href='/policy']: span.more[title='更多']
  ul
    -@list[:FLFG].each do |p| 
      li: a[href="/detail/#{p.id}" target='_blank'] =p.title
div#con6.con
  div.bar 
    span 各地政策
    a[href='/policy']: span.more[title='更多']
  ul
    -@list[:GDZC].each do |p| 
      li: a[href="/detail/#{p.id}" target='_blank'] =p.title
div#con7.con
  div.bar 
    span 行政通知
    a[href='/policy']: span.more[title='更多']
  ul
    -@list[:XZTZ].each do |p| 
      li: a[href="/detail/#{p.id}" target='_blank'] =p.title
div#con8.con
  div.bar 
    span 名优产品
    a[href='/product']: span.more[title='更多']
  div.outer_pro
    div#wap_pro
      ul.list_pro
        -@list[:PRODUCT].each do |p| 
          li: a[href="/pro_detail/#{p.id}" target='_blank']
            img.face[src="/upload/product/#{p.val1}"]
div#con9.con
  div.bar 
    span 供求信息
    a[href='/supply']: span.more[title='更多']
  ul
    -@list[:SUPPLY].each do |p| 
      li
        a[href="/detail/#{p.id}" target='_blank'] =p.title
        span.right.visit #{p.visit} 次阅读
div#con10.con
  div.bar 
    span 技术文档
    a[href='/tech']: span.more[title='更多']
  ul
    -@list[:TECH].each do |p| 
      li
        a[href="/detail/#{p.id}" target='_blank'] =p.title
        span.right.visit #{p.visit} 次阅读

=javascript_include_tag "slider" 