div.left#leftcomp
  div.con
    div.bar  
      span 宣传照片或视频
      a[href='/product' target='_blank']: span.more[title='更多']
    a[href='/product' target='_blank']: img.xc[src='/assets/common/baba.png']

  div.con 
    div.bar 联系方式
    ul#contact
      li
        span.contact_icon.icon1
        span.num 029-6656-4628
      li
        span.contact_icon.icon2
        span.num 029-6656-4628
      li
        span.contact_icon.icon3 
        span.num 1246996371@qq.com 
   
div.right#rightcon
  div.con
    div.bar 合作社简介
    div.contant  
      p 名山区香水苗木种植农民专业合作社地处雅安市与成都市蒲江县成佳镇、甘溪镇交界处，2007年11月9日，由李万林同志在名山区工商行政管理局注册登记。
      p  2010年9月，在名山区供销合作社的指导下，新吸收了部分社员，并更名为名山区香水苗木种植农民专业合作社。合作社立足于当地茶业生产的区域优势，立足茶苗繁殖，通过引导发展起来的一家苗木种植农民专业合作社。
      p  本合作社是一家集扦插、销售、技术培训为主体的农民专合组织。有核心成员123人，茶苗销售经济人6名，专业技术人员2名。拥有松散性社员300多户，分布于名山区茅河乡、联江乡、黑竹镇，带动农户1200多户。
      p  合作社聘请全国多名茶叶界专家和川农大唐茜教授作本社技术顾问，有优质苗木繁育基地800亩，是茅河乡最大优质茶苗繁育基地。2010年被雅安市供销社和名山区工商局分别评为“合作社示范社”。
      p  2011年11月荣获雅安市农工办命名的第一批市级示范专合组织。2011年12月被雅安市供销社评为“雅安市十佳农民专业合作社”。2012年、2013年先后被省供销社和省农工委评为省级示范合作社 