div.left#leftcomp
  div.con
    div.bar 政策法规
    ul.menu
      -Post.children_type('POLICY').each do |p|
        li: a[href="#" data-type="#{p.cd}"] =p.sdesc  
  div.con
    div.bar 
      span 本版推荐 
    ul
      -@reco.each do |p|
        li: a[href="/detail/#{p.id}" target='_blank'] =p.title  
  div.con
    div.bar 
      span 热点文章 
    ul
      -@hots.each do |p|
        li: a[href="/detail/#{p.id}" target='_blank'] =p.title  
div.right#rightcon
  div.con
    div.bar 政策法规
    div.contant
      ul#list_post_con 
      script#temp_post[type='text/html']
        li
          a.left[href="/detail/@{id}" target='_blank'] @{title}
          span.right @{insert_time}
      div#pagenation
javascript:
  $(function(){
    get_post('POLICY',10);
    $('ul.menu li a').click(function(){
      $(this).closest('li').addClass('on').siblings("li").removeClass('on');
      get_post($(this).attr('data-type'),10);
      return false;
    });
  });
