div#con11.con
  div.bar 
    div.left 产品：#{@post.title}
    div.right#detail_info
      span 发布时间： 
      span.time =@post.created_at.strftime('%Y-%m-%d')
      span 访问次数：
      span =@post.visit
  div.contant 
    h4 产品图片
    img[src='/upload/product/#{@post.val1}']
    h4 产品详情
    =raw @post.content

javascript:
  $(function(){
    setTimeout(function(){
      $.post("/main/inc_visit",{id:#{params[:id]}},function(){});
    },2000);
  });