div.left#leftcomp
  div.con
    div.bar 
      span 本版推荐
    ul
      -@reco.each do |p|
        li: a[href="/pro_detail/#{p.id}" target='_blank'] =p.title  
  div.con
    div.bar 
      span 热点产品
    ul#pro_bar
      -@hots.each do |p| 
        li
          div.left: a[href="/pro_detail/#{p.id}" target='_blank'] 
            img.face[src="/upload/product/#{p.val1}"]
          div.left.info
            a[href="/pro_detail/#{p.id}" target='_blank']: div =p.title
            span.visit #{p.visit}次

div.right#rightcon
  div.con
    div.bar 产品展示
    div.contant#photo_ul
      ul#list_post_con
      script#temp_post[type='text/html']
        li: a[href='/pro_detail/@{id}' target='_blank']
          img.photo[src='/upload/product/@{val1}']
          div.cover @{title}
      div.clear
      div#pagenation
javascript:
  $(function(){
    get_post('PRODUCT',10);

  });
