div#search_con.con
  div.bar 搜索结果：#{params[:keyword]}
  div.contant
    ul#list_post_con 
      -package(@list,params[:keyword]).each do |p|
        li
          a.left[href="/detail/#{p.id}" target='_blank'] = raw p.title
          span.right =p.insert_time 
          div.right.search_typ =Post.typecd_used.select{|m|m.cd == p.typecd}[0].full_sdesc
    -if @list.count < 1
      h3 未搜索到相关记录
javascript:
  $(function(){ 
  });
