doctype html
html
  head
    title 后台管理
    =stylesheet_link_tag "themes/default/easyui.css", :media => "all"
    =stylesheet_link_tag "admin", :media => "all"
    =stylesheet_link_tag "themes/icon.css", :media => "all" 
    =javascript_include_tag "jquery"  
    =javascript_include_tag "jquery.form"  
    =javascript_include_tag "admin"       
    =javascript_include_tag "jquery.easyui.min" 
    =csrf_meta_tags
  body.easyui-layout 
    div[data-options="region:'north'" style='height:50px;background-color:#3262A3;color:#FFF'] 
      strong.admintitle 后台管理系统 
      a.logout[href='/admin/logout'] 注销
    div#footer[data-options="region:'south',split:true"] 后台管理
    div#leftm[data-options="region:'west',split:true" title='管理面板']
        div.easyui-accordion[fit="true" border="false"]
          div[title='信息管理'  iconcls="icon-add"] 
            ul.lmenu
              li  
                a[href="javascript:void(0)" url="/admin/post_new"] 添加信息
              -Post.typecd_used.each do |t|                
                li 
                  a[href="javascript:void(0)" url="/admin/post/#{t.cd}"]=t.full_sdesc  
          div[title='产品管理'  iconcls="icon-add"]
            ul.lmenu
              li  
                a[href="javascript:void(0)" url="/admin/product_new"] 产品添加
              li 
                a[href="javascript:void(0)" url="/admin/product"] 产品管理
          div[title='站点管理' iconcls="icon-add"]
            ul.lmenu
              li  
                a[href="javascript:void(0)" url="/admin/pwd"] 登录密码
              li 
                a[href="javascript:void(0)" url="/admin/link"] 友情链接
          
          
    div[region="center" split="true"]
        div#tabs.easyui-tabs[fit="true" border="false"]
          div[title="首页"]
             
javascript:
  $(function () {
    $(".easyui-accordion ul li a").click(function () { 
        var icon=$(this).closest('li').attr("class");
        var url = $(this).attr("url");
        var title = $(this).html();
        var tab = add_tab(title, url,icon); 
    });
  }); 