=form_tag(admin_post_update_path,method:"post",id:'inform')
  table
    tr 
      td =label_tag(:title,'网站名')
      td =text_field_tag(:title,'',class:'txt',value:"#{@link.title}") 
    tr 
      td =label_tag(:val1,'网站链接')
      td =text_field_tag(:val1,'',class:'txt long',value:"#{@link.val1}") 
    tr
      td =hidden_field_tag(:id,@link.id)
      td =submit_tag('更  新',class:'btn')
javascript:
   $('#inform').validate({ 
      success: "valid",
      rules:{
        title:{
          required:true
        },
        val1:{
          required:true
        }
      },
      messages:{ 
        title:"标题不能为空",
        val1:"链接不能为空"
      },
      submitHandler: function(form) {
        $(form).ajaxSubmit({
           beforeSerialize:function(){},
           success:function(data){
             if(data.status){
               window.parent.frames.slide("更新友链成功！"); 
               
             }else{
               window.parent.frames.alert_error('更新友链失败！')
             } 
           },
           error:function(){
             window.parent.frames.alert_error('更新友链失败！')
           }
        });
      }
    });

