doctype html
html
  head
    title 后台管理-登录  
    =stylesheet_link_tag "base", :media => "all"
    =stylesheet_link_tag "login", :media => "all"    
    =csrf_meta_tags
  body 
    div.login
      form[action="/admin/check_login" method="post" id="inform"]
        div.logo
          div.login_form
            div.user
              input.text_value[placeholder="账号" name="uid" type="text"]
              input.text_value[placeholder="密码" name="pwd" type="password"]
            input.button#submit[type="submit"] 
 