=form_tag(admin_post_save_path,method:"post",id:'inform')
  table
    tr 
      td =label_tag(:title,'标题')
      td =text_field_tag(:title,'',class:'txt long')
    tr
      td =label_tag(:typecd,'类型')
      td =select_tag "typecd", options_from_collection_for_select(Post.typecd_used, "cd", "full_sdesc")
    tr 
      td =label_tag(:content,'内容')
      td 
        script#editor[type="text/plain" style="width:1024px;height:500px;"]
    tr 
      td =label_tag(:isreco,'推荐')
      td =check_box_tag "isreco",'0',false
    tr
      td 
      td =submit_tag('添  加',class:'btn')
javascript:
   var editor = UE.getEditor('editor');
   $('#inform').validate({ 
      success: "valid",
      rules:{
        title:{
          required:true
        }
      },
      messages:{ 
        title:"标题不能为空"
      },
      submitHandler: function(form) {
        $(form).ajaxSubmit({
           beforeSerialize:function(){
              if($("#isreco")[0].checked){
               $("#isreco").val('1');
              }else{$("#isreco").val('0');} 
           },
           success:function(data){
             if(data.status){
               window.parent.frames.slide("添加文章成功！"); 
               $("#title").val('');
               editor.setContent('');
             }else{
               window.parent.frames.alert_error('添加文章失败！')
             } 
           },
           error:function(){
             window.parent.frames.alert_error('添加文章失败！')
           }
        });
      }
    });

