=form_tag(admin_post_update_path,method:"post",id:'inform')
  table
    tr 
      td =label_tag(:title,'标题')
      td =text_field_tag(:title,@post.title,class:'txt long')
    tr
      td =label_tag(:typecd,'类型')
      td =select_tag "typecd", options_from_collection_for_select(Refcd.current('POSTTYP'), "cd", "sdesc",@post.typecd)
    tr 
      td =label_tag(:content,'内容')
      td 
        script#editor[type="text/plain" style="width:1024px;height:500px;"]
          =raw @post.content
    tr 
      td =label_tag(:isreco,'推荐')
      td =check_box_tag "isreco",@post.isreco,@post.isreco == '1'
    tr
      td =hidden_field_tag(:id,@post.id)
      td =submit_tag('更  新',class:'btn')
javascript:
   var editor = UE.getEditor('editor'); 
   
   $('#inform').validate({ 
      success: "valid",
      rules:{
        title:{
          required:true
        }
      },
      messages:{ 
        title:"标题不能为空"
      },
      submitHandler: function(form) {
        $(form).ajaxSubmit({
           beforeSerialize:function(){  
            if($("#isreco")[0].checked){
               $("#isreco").val('1');
            }else{$("#isreco").val('0');} 
           },
           success:function(data){
             if(data.status){
               window.parent.frames.slide("更新文章成功！");  
             }else{
               window.parent.frames.alert_error('更新文章失败！')
             } 
           },
           error:function(){
             window.parent.frames.alert_error('更新文章失败！')
           }
        });
      }
    });

