=form_tag(admin_post_update_path,method:"post",id:'inform')
  table
    tr 
      td =label_tag(:title,'产品名')
      td =text_field_tag(:title,@product.title,class:'txt long')
    tr
      td =label_tag(:val1,'封面图片')
      td =text_field_tag(:val1,@product.val1,class:'txt long')
    tr
      td
      td =file_field_tag 'file_upload'
    tr 
      td =label_tag(:content,'产品信息')
      td 
        script#editor[type="text/plain" style="width:1024px;height:500px;"] 
          =raw @product.content
    tr 
      td =label_tag(:isreco,'推荐')
      td =check_box_tag "isreco",@product.isreco,@product.isreco == '1'
    tr
      td =hidden_field_tag(:id,@product.id)
      td =submit_tag('更  新',class:'btn')
javascript:
   $(function(){
      $("#file_upload").uploadify({ 
        'buttonText' : '上传图片',
        'swf'      : '/assets/common/uploadify.swf',
        'uploader' : '/admin/up_pic',
        'onUploadSuccess' : function(file, data, response) {
            if(data == '0'){alert('上传图片失败，请重试！');}else{
              $('#val1').val(data);
            }
        } 
      });
   })
   var editor = UE.getEditor('editor');

   $('#inform').validate({ 
      success: "valid",
      rules:{
        title:{
          required:true
        },
        val1:{
          required:true
        }
      },
      messages:{ 
        title:"产品标题不能为空",
        val1:"产品图片不能为空"
      },
      submitHandler: function(form) {
        $(form).ajaxSubmit({
           beforeSerialize:function(){
              if($("#isreco")[0].checked){
               $("#isreco").val('1');
              }else{$("#isreco").val('0');} 
           },
           success:function(data){
             if(data.status){
               window.parent.frames.slide("更新产品成功！"); 
               $("#title").val('');
               editor.setContent('');
             }else{
               window.parent.frames.alert_error('更新产品失败！')
             } 
           },
           error:function(){
             window.parent.frames.alert_error('更新产品失败！')
           }
        });
      }
    });

