table#dg

javascript:
  var url={
    list:'/admin/product_list',
    remove:'/admin/post_remove'
  }
  var dg;
  $(function(){
    InitialData(url.list);
    dg.datagrid('load');
  });
  function InitialData(list){
     dg = $('#dg').datagrid({
        url:list,
        fit: true,
        striped:true, 
        rownumbers:true, 
        pagination:true,
        pageList: [10, 20,40 ,100],
        pageSize: 20, 
        queryParams: {
          typecd: '#{params[:typecd]}'
        },
        toolbar: [
          {
            text:'添加',
            iconCls: 'icon-add',
            handler: function(){
              Add();
            }
          },{
            text:'编辑',
            iconCls: 'icon-edit',
            handler: function(){
              Edit();
            }
          },{
            text:'删除',
            iconCls: 'icon-remove',
            handler: function(){
              Delete();
            }
          },{
            text:'预览',
            iconCls: 'icon-search',
            handler: function(){
              Preview();
            }
          }
        ],
        columns:[[
            {field:'mid',title:'',checkbox:true},
            {field:'id',title:'ID'},
            {field:'val1',title:'缩略图',formatter:function(value,row,index){ 
              return "<img src='/upload/product/"+value+"' class='face'/>";
            }},
            {field:'title',title:'产品名'}, 
            {field:'visit',title:'访问统计'}, 
            {field:'insert_time',title:'插入时间'},
            {field:'isreco',title:'是否推荐',formatter:function(value,row,index){ 
              if(value=="1"){ 
                return '是'
              }else{
                 return "否";
              }
            }},   
        ]] 
     }); 
  }


  function Delete(){  
     var rows = dg.datagrid('getSelections');
     if(rows.length < 1){
        show_msg('提示','请勾选要删除的行');
        return false;
     } 
     $.messager.confirm('提示','你确定删除所选数据？',function(r){
       if(r){  
          var ids = _.map(rows,function(row){return row.id}).join(',');
          $.post(url.remove,{ids:ids},function(data){
            if(data.status){ 
              show_msg('提示','删除数据成功');
              dg.datagrid('reload');
            }else{
              show_msg('提示','删除数据出错');
              dg.datagrid('unselectAll');
            }
          }); 
       }
     }); 
  }

  function Edit(obj){
    var rows = dg.datagrid('getSelections');
     if(rows.length < 1){
        show_msg('提示','请勾选要编辑的行');
        return false;
     } 
     if(rows.length > 1){
        show_msg('提示','请勿勾选多行');
        return false;
     } 
     parent.parent.add_tab('编辑文章：' + rows[0].title + '-' + rows[0].id,'/admin/product_edit/'+rows[0].id,'icon');
  }
  function Preview(){

  }
  function Add(){
    parent.parent.add_tab('产品添加','/admin/product_new/','icon');
  }