span,div{font-size: 13px!important;}
body
{
  margin:0;padding:0;font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft YaHei', sans-serif;color:#666;font-size:14px;line-height:25px;
  padding: 10px;
}
.btn{
  background-color:#F3AF00;color:White;padding:12px;border:0; border-radius:4px;padding-top:7px;padding-bottom:7px;cursor:pointer;font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft YaHei', sans-serif;font-size:14px;text-shadow: 1px 1px 1px #999;
}

.btn:hover{background-color:#F28E00}
.message{font-size:12px;display:none;margin-right:10px;height:16px;background-image:url('common/icon.png'); background-repeat:no-repeat;padding-left: 20px;}
.note{background-position: -180px -215px;color: #5190CA}
label.error,span.error{color:#C73131;background-position: -180px -260px;}
input.error,textarea.error{border:Red 1px solid}
.success,span.valid,label.valid{color:#33AF6A;background-position: -180px -236px; }
img{border:0;}
select{font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft YaHei', sans-serif;}

table td{height:40px;padding: 0 10px!important;  }
.panel-body{overflow:hidden!important;}
tr td{color:#333}
#footer{height:50px; text-align:center;padding-top:20px;}
#leftm{width:180px;overflow:hidden;}
.lmenu{margin: 0;padding:0; list-style:none;}
.lmenu  a{display:inline-block;width:100%;}
.lmenu  a:visited,.lmenu a:link{color:#408CDA}
.lmenu  a:hover,.lmenu a:active{color:#CC0000}
.lmenu  li{
    display: block; line-height:30px; padding-left:10px;border-bottom:#EEE 1px solid; 
  }

.clear{clear:both;}
.hide{display:none} 
.black{color:#000}
a:link,a:visited{color:#444;text-decoration:none;}
a:hover,a:active{color:#000;text-decoration:none;}
.txt
{
  border:#ccc 1px solid;height:25px; line-height:25px;padding-left:2px;outline:none;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft YaHei', sans-serif;color:#444;width:200px;
}
textarea{font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft YaHei', sans-serif;color:#444;}
.left{float:left;}
.right{float:right;}
input.long{width: 400px;} 
.face{width: 50px;height: 50px;}
.admintitle{font-size: 16px; margin-top: 10px; display: inline-block; float: left; margin-left: 10px;}
.logout{display: inline-block; float: right;color: #FFF!important;text-decoration: underline!important; margin-right: 20px;margin-top: 10px;}