body
{
  margin:0;padding:0;font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft YaHei', sans-serif;color:#666;font-size:14px;line-height:25px;
}
.message{font-size:12px;display:none;margin-right:10px;height:16px;background-image:url('common/icon.png'); background-repeat:no-repeat;padding-left: 20px;}
.note{background-position: -180px -215px;color: #5190CA}
label.error,span.error{color:#C73131;background-position: -180px -260px;}
input.error,textarea.error{border:Red 1px solid}
.success,span.valid,label.valid{color:#33AF6A;background-position: -180px -236px;}
img{border:0;}
select{font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft YaHei', sans-serif;}
.btn{
  background-color:#F3AF00;color:White;padding:12px;border:0; border-radius:4px;padding-top:7px;padding-bottom:7px;cursor:pointer;font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft YaHei', sans-serif;font-size:14px;text-shadow: 1px 1px 1px #999;
}
.btn:hover{background-color:#F28E00}
.clear{clear:both;}
.hide{display:none} 
.black{color:#000}
a:link,a:visited{color:#444;text-decoration:none;}
a:hover,a:active{color:#000;text-decoration:none;}
.txt
{
  border:#ccc 1px solid;height:25px; line-height:25px;padding-left:2px;outline:none;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft YaHei', sans-serif;color:#444;width:200px;
}
textarea{font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft YaHei', sans-serif;color:#444;}
.left{float:left;}
.right{float:right;}
ul
{
  margin:0;padding:0;
}
ul li
{
  list-style:none;
}
.txtright{text-align:right;}
.txtleft{text-align:left}
#header{  padding:10px 0;}
 
.center{width:1000px;margin: 0 auto; }
#banner{height: 158px;background-image:url('common/banner.jpg');width: 100%}
#menu{background-color: #184B85 ;   height: 49px;margin-bottom: 1px;}
#menu .center{border-right: #316894 1px solid}
#menu ul{overflow: hidden;}
#menu li{float: left;width: 124px; line-height: 49px; font-weight: bold;text-align: center;border-left: #316894 1px solid;}
#menu li.on{background-color: #DA2424}
#menu li a{ color: #FFF}
#main{margin-top: 50px;}
.bar{ height: 40px; border-bottom: #EEE 1px solid; line-height: 40px;padding-left: 10px;font-weight: bold;padding-right: 10px;background-color: rgb(250, 250, 250);border-left: #72DAEE 1px solid;margin-left: -1px;}
.con{float: left;border: #EEE 1px solid; margin-top: 10px;height: 220px; }
.con ul{padding: 10px;}
.con a:hover,.con a:active{text-decoration: underline;}


#con1{width: 250px; }
#con2{width: 474px;margin-left:10px;}
#con3{width: 250px; margin-left:10px;}
#con4{width: 250px;height: 250px;}
#con5{width: 231px; margin-left:10px;height: 250px;}
#con6{width: 231px; margin-left:10px;height: 250px;}
#con7{width: 250px; margin-left:10px;height: 250px;}
#con8{width: 998px; height: 180px;}
#con9{width: 492px;height: 310px; }
#con10{width: 492px; margin-left:10px;height: 310px; }
#con11{width: 998px; height: auto}
#con11 li{ display: inline-block; width: 180px; border: none;}
.visit{color: #BBB;}

#con_sub{width: 250px;}
.con li{display: block;overflow: hidden;height: 30px; border-bottom: #EEE 1px dotted;line-height: 30px;}
.item li{background-image: url('common/item.png');  background-repeat: no-repeat;padding-left: 20px;background-position: 0 4px}

.bar span{float: left;display: inline-block; }

.bar span.more{background-image:url('common/more.png');width: 23px;height: 23px; display: inline-block; cursor: pointer; float: right; margin-top: 7px; background-repeat: no-repeat; opacity: 0.5 }
.bar span.more:hover{opacity: 1}
#footer{text-align: center; margin-bottom: 30px;margin-top: 30px;float: left; width: 100%;color: #CCC}
#footer p{text-align: center;}
#leftcomp{width: 260px; overflow: hidden;}
#leftcomp .con{width: 250px;height: auto; float: none;}
#rightcon .con{width: 730px; height: auto;}
.contant{padding: 20px; padding-top: 10px;}
.contant li{border-bottom: #EEE 1px dotted; margin-top: 15px; padding-bottom: 3px; width: 100%;overflow: hidden;}
.contant li span.right{color: #CCC}

ul.menu{padding:0; background-color: #FAFAFA}
ul.menu li{ height: 40px;padding-left: 10px;line-height: 40px;}
ul.menu li.on{border-left: #51ECD3 2px solid;}

#detail_info{color: #ADADAD;;font-weight: normal;font-size: 13px;}
#detail_info .time{margin-right: 20px;}

#photo_ul {padding: 0}
#photo_ul li{border: 0;width:auto;float: left; margin:0 8px; margin-bottom: 20px; height: auto;}
.photo{width: 160px;height: 160px;}
#photo_ul .cover{ padding-left: 5px; overflow: hidden; width: 155px; height: 40px; line-height: 40px; background-color: #000; margin-top: -48px;FILTER:ALPHA(opacity=70); -moz-opacity:0.7; opacity: 0.7;}
#photo_ul a{color: #fff}

 
ul#contact li{width: 100%;display: block;overflow: hidden;height: 40px; border-radius: 3px;margin-bottom: 5px;line-height: 40px;}
ul#contact li .ico{width: 50px;height: 40px;display: inline-block;float: left;text-align: center;color: #FFF} 
ul#contact li.contact1{background-color: #00C7B9}
ul#contact li.contact1 .ico{background-color: #009288}
ul#contact li.contact2{background-color: #C5E062}
ul#contact li.contact2 .ico{background-color: #859B46}
ul#contact li.contact3{background-color: #FF5E5C}
ul#contact li.contact3 .ico{background-color: #C53F4B}
ul#contact li.contact4{background-color: #FFD83B}
ul#contact li.contact4 .ico{background-color: #C49400}

ul#contact span.num{display: inline-block;  margin-top: 3px; margin-left: 2px; padding-left: 5px;}
 

.sc{margin-right: 10px;}
#scroll_news{width: 10000px}
#scroll_news  li{display: inline-block;  margin-right: 20px;}
#scroll_news  li a:hover{text-decoration: underline;}
.list_pro{float: left; padding: 0!important;margin-top: 10px;}
.list_pro li{display: inline-block; margin-left: 10px; height: auto;}
.list_pro li .face{width: 120px;height: 120px; padding: 1px;border: #EEE 1px solid}
.outer_pro{overflow: hidden;}
#wap_pro{width: 5000px;height: 140px; overflow: hidden;}
img.xc{width: 248px;height: 143px;margin: 1px;}

#search{ background-color: #EEE; background-image:url('common/search.png');width: 28px;height: 27px; display: inline-block; float: right;border: #CCC 1px solid; background-repeat: no-repeat; background-position: 3px; 0;height: 29px; border-left: 0;cursor: pointer;}
#search_txt{border: #CCC 1px solid;border-right:0; }
#search_con{width: 998px; padding-bottom: 20px; height: auto; overflow: hidden;}
.search_typ{width: 200px;margin-right: 50px;color: #AAA}
.key{color: Red;margin: 0 2px;}
h3{text-align: center;}
#pro_bar li{height: 60px;  }
#pro_bar li .face{width: 50px;height: 50px; padding: 1px;border: #EEE 1px solid}
#pro_bar li .info{width: 200px;width: 160px;margin-left: 10px;}
#pro_bar li  .visit{font-size: 12px;}