 html, body { width: 100%; height: 100%; overflow: hidden; margin: 0; font-family: 'microsoft yahei'; background-image:url(common/login_bg.jpg); }
html { _height: auto; _padding: 50px 0 0px; }
*{font-family: '微软雅黑'}
.login { width:640px; height:400px; position:absolute; left:50%; top:50%; margin-left:-320px; margin-top:-200px;}
.logo { background-image:url(common/admin_logo.png); background-repeat:no-repeat; background-position: 30px center; height:150px; float: left;}
.login_form { height:80px;   margin-right:auto; width:600px; margin: 150px auto;}
.login_form .user{ background-image:url(common/login_name_bg.jpg); width:540px; height:80px; float:left; }
.login_form .button { background:url(common/login_button.jpg); width:50px; background-repeat:no-repeat; background-position:left center; height:54px; float:left; display:block; text-indent: -9999px; border:none; margin-top:10px; position:relative;cursor: pointer;}
.login_form .text_value { float:left; margin-left:17px; padding-left:10px; padding-right:10px; margin-top:15px; width:225px; height:50px; line-height:30px; font-size:16px; color:#666; font-weight:bold; border:none; background-color:#f5f6f7;outline: none;}
.foot { padding-top:30px; text-align:center; color:#FFF; padding-right:80px;}
#tip { padding-top:10px; color:#FFF;   background-image:none; text-align:center; padding-right:80px; font-size:14px;}