.pagination {
    font-size: 80%;margin-top: 10px;background-color: #EBEBEB;overflow: hidden;
    text-align: center;
    a{text-decoration: none;}
    a,span {
        display: inline-block; 
        padding: 0.3em 0.5em;
        margin-right: 5px; 
    	min-width:1em;
    	text-align:center;
        color:#444;
    }
   .current {background: #FFD600;}
   .next,.prev{background:none;}
}
