=stylesheet_link_tag "themes/default/easyui.css", :media => "all"
=stylesheet_link_tag "themes/icon.css", :media => "all" 
=stylesheet_link_tag "uploadify", :media => "all"
=stylesheet_link_tag "admin", :media => "all"
=javascript_include_tag "jquery"  
=javascript_include_tag "jquery.form"  
=javascript_include_tag "underscore-min" 
=javascript_include_tag "/ueditor/ueditor.config"
=javascript_include_tag "/ueditor/ueditor.all.min" 
=javascript_include_tag "/ueditor/lang/zh-cn/zh-cn"
=javascript_include_tag "jquery.validate.min"
=javascript_include_tag "admin"        
=javascript_include_tag "jquery.easyui.min" 
=javascript_include_tag "jquery.uploadify" 

=yield
