doctype html
html
  head
    title 运动社区
    =stylesheet_link_tag "application", :media => "all"
    =javascript_include_tag "application" 
    =javascript_include_tag "/ueditor/ueditor.config"
  	=javascript_include_tag "/ueditor/ueditor.all.min" 
  	=javascript_include_tag "/ueditor/lang/zh-cn/zh-cn"
    =csrf_meta_tags
  body
      =yield  

 
