DOCTYPE html
html
  head
    title 名山区香水苗木种植农民专业合作社
    = stylesheet_link_tag   "pagination", :media => "all"
    = stylesheet_link_tag   "layout", :media => "all" 
    = stylesheet_link_tag   "nivo-slider", :media => "all" 
    = stylesheet_link_tag   'light.css', :media => "all" 
    = javascript_include_tag "application"
    = javascript_include_tag "jquery.nivo.slider"
    = javascript_include_tag "main"

    = csrf_meta_tags
  body
    div.center
      div#header
		a[href='/']: img[src='/assets/common/logo.png']
		div.right
		   =form_tag(main_search_path,method:"get",id:'inform') 
		     =text_field_tag(:keyword,'',class:'txt',placeholder:'请输入关键字')
		     =submit_tag('',id:'search')
	div#menu.center  
		ul
		  li[style='border-left:0;width:125px;']: a[href='/'] 首页
		  li: a[href='/news'] 本地资讯
		  li: a[href='/dynamic'] 合作社动态
		  li: a[href='/intro'] 合作社简介
		  li: a[href='/policy'] 政策法规
		  li: a[href='/supply'] 供求信息
		  li: a[href='/product'] 产品展示
		  li: a[href='/tech'] 技术资料
    div.center
	  div.slider-wrapper.theme-light
          div#slider.nivoSlider
            -(1..5).each do |index|
              img[src="/assets/common/s#{index}.jpg" data-thumb="/assets/common/s#{index}.jpg"]  
    div.clear
	div.center#main
	  div.left
	    / marquee[width="640" direction="left" scrollamount="2" scrolldelay="1"]
	    /   ul#scroll_news
	    /     -scroll_news.each do |m|
	    /       li: a[href="/detail/#{m.id}"] =m.title
	  / div.right
	  /   =form_tag(main_search_path,method:"get",id:'inform') 
	  /     =text_field_tag(:keyword,'',class:'txt',placeholder:'请输入关键字')
	  /     =submit_tag('',id:'search')
	  div.clear
      = yield 
      div#con11.con
        div.bar 友情链接
        ul
          -Post.where({:typecd=>'LINK'}).each do |p| 
            li: a[href="#{p.val1}" target='_blank'] =p.title 
      div#footer
	    p 主管单位：四川雅安市名山区 备案号：川ICP备203004595号
	    p 运营维护：四川农业大学  电话：103641248047
javascript:
  $(window).load(function() {
	  $('#slider').nivoSlider({
	    effect:'sliceDownLeft,sliceDown,sliceUpDownLeft,sliceUpDown',
	  });
	  $('#menu li:eq(#{@menu})').addClass('on')
  });